
::-webkit-scrollbar {
  width: 8px;
  }
  
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 113, 128, 0.8);
  border-radius: 20px;
  border: 1px solid rgba(2, 96, 109, 0.8);
}

@media screen and (min-width: 290px) {
  .flex {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin: 25px auto;
  
}
.container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 290px;
  margin: 40px auto 0;

}
.let {
  display: inline-block;
  margin-top: -5px;
}
.tit {
  display: inline-block;
  margin-top: -40px;
}
.tit h2 {
  color: #007180;
  text-align: center;
  font-size: 29px;
  font-weight: bold;
}
.tit h2:last-child{
  margin-top: -30px;
}
.let p{
  font-size: 13px;
  color: rgba(1, 48, 54, 0.90);
  margin-top: -12px;
  text-align: center;
}
.let p:last-child{
  margin-top: -10px;
}
.butt {
 display: block;
 text-align: center;
 margin-top: 25px;

}
.butt button {
text-align: center;
width: 165px;
height: 54px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 16px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
.imag {
  display: block;
  width: 210px;
  margin: 0 auto 0 ;
}
.imag img {
 margin: 30px auto 0;
  width: 210px;
  height: 210px;

}
.imag h2 {
  color: #007180;
  font-size: 23px;
  margin-top: -2px;
  text-align: center;
}
}

  @media (min-width: 384px) and (min-height: 640px) {
     .flex {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin: 25px auto;
  
}
.container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 290px;
  margin: 40px auto 0;

}
.let {
  display: inline-block;
  margin-top: -5px;
}
.tit {
  display: inline-block;
  margin-top: -40px;
}
.tit h2 {
  color: #007180;
  text-align: center;
  font-size: 29px;
  font-weight: bold;
}
.tit h2:last-child{
  margin-top: -30px;
}
.let p{
  font-size: 13px;
  color: rgba(1, 48, 54, 0.90);
  margin-top: -12px;
  text-align: center;
}
.let p:last-child{
  margin-top: -10px;
}
.butt {
 display: block;
 text-align: center;
 margin-top: 25px;

}
.butt button {
text-align: center;
width: 165px;
height: 54px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 16px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
.imag {
  display: block;
  width: 210px;
  margin: 0 auto 0 ;
}
.imag img {
 margin: 30px auto 0;
  width: 210px;
  height: 210px;

}
.imag h2 {
  color: #007180;
  font-size: 23px;
  margin-top: -2px;
  text-align: center;
}

  }

@media screen and (min-width: 390px) {
  .flex {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin: 25px auto;
  
}
.container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 350px;
  margin: 40px auto 0;

}
.let {
  display: inline-block;
  margin-top: -5px;
}
.tit {
  display: inline-block;
  margin-top: -30px;
}
.tit h2 {
  color: #007180;
  text-align: center;
  font-size: 29px;
  font-weight: bold;
}
.tit h2:last-child{
  margin-top: -30px;
}
.let p{
  font-size: 13px;
  color: rgba(1, 48, 54, 0.90);
  margin-top: -12px;
  text-align: center;
}
.let p:last-child{
  margin-top: -10px;
}
.butt {
 display: block;
 text-align: center;
 margin-top: 25px;

}
.butt button {
text-align: center;
width: 165px;
height: 54px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 16px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
.imag {
  display: block;
  width: 210px;
  margin: 0 auto 0 ;
}
.imag img {
 margin: 30px auto 0;
  width: 210px;
  height: 210px;

}
.imag h2 {
  color: #007180;
  font-size: 23px;
  margin-top: -2px;
  text-align: center;
}
}
@media screen and (min-height: 740px) {
  
}
@media screen and (min-height: 844px) {
  .flex {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin: 90px auto;
  
}
 
}
@media screen and (min-height: 896px) {
  .flex {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin: 105px auto;
  
}
  
  
}
@media screen and (min-height: 932px) {
 
  
}
@media screen and (min-width: 490px) {
  .flex {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}
.container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 350px;
  margin: 25px auto 0;

}
.let {
  display: inline-block;
  margin-top: -5px;
}
.tit {
  display: inline-block;
  margin-top: -50px;
}
.tit h2 {
  color: #007180;
  text-align: center;
  font-size: 31px;
  font-weight: bold;
}
.tit h2:last-child{
  margin-top: -30px;
}
.let p{
  font-size: 13px;
  color: rgba(1, 48, 54, 0.90);
  margin-top: -12px;
  text-align: center;
}
.let p:last-child{
  margin-top: -10px;
}
.butt {
 display: block;
 width: 350px;
 text-align: center;
 margin-top: 25px;

}
.butt button {
text-align: center;
width: 165px;
height: 54px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 16px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
.imag {
  display: block;
  width: 230px;
  margin: 0 auto 0 ;
}
.imag img {
 margin: 30px auto 0;
  width: 230px;
  height: 230px;

}
.imag h2 {
  color: #007180;
  font-size: 23px;
  margin-top: -2px;
  text-align: center;
}
}
@media screen and (min-width: 712px) {
  .flex {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}
.container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 350px;
  margin: 25px auto 0;

}
.let {
  display: inline-block;
  margin-top: -5px;
}
.tit {
  display: inline-block;
  margin-top: -50px;
}
.tit h2 {
  color: #007180;
  text-align: center;
  font-size: 31px;
  font-weight: bold;
}
.tit h2:last-child{
  margin-top: -30px;
}
.let p{
  font-size: 13px;
  color: rgba(1, 48, 54, 0.90);
  margin-top: -12px;
  text-align: center;
}
.let p:last-child{
  margin-top: -10px;
}
.butt {
 display: block;
 width: 350px;
 text-align: center;
 margin-top: 25px;

}
.butt button {
text-align: center;
width: 165px;
height: 54px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 16px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
.imag {
  display: block;
  width: 230px;
  margin: 0 auto 0 ;
}
.imag img {
 margin: 30px auto 0;
  width: 230px;
  height: 230px;

}
.imag h2 {
  color: #007180;
  font-size: 23px;
  margin-top: -2px;
  text-align: center;
}

}
@media (min-width: 800px) and (min-height: 1280px){
  .flex {
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  margin: 80px auto;
  width: 100%;
}
.container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 500px;
  margin: 25px auto 0;

}
.let {
  display: inline-block;
  margin-top: -5px;
}
.tit {
  display: inline-block;
  margin-top: -50px;
}
.tit h2 {
  color: #007180;
  text-align: center;
  font-size: 51px;
  font-weight: bold;
}
.tit h2:last-child{
  margin-top: -30px;
}
.let p{
  font-size: 30px;
  color: rgba(1, 48, 54, 0.90);
  margin-top: -12px;
  text-align: center;
}
.let p:last-child{
  margin-top: -15px;
}
.butt {
 display: block;
 width: 500px;
 text-align: center;
 margin-top: 25px;

}
.butt button {
text-align: center;
width: 365px;
height: 94px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 30px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
.imag {
  display: block;
  width: 430px;
  margin: 0 auto 0 ;
}
.imag img {
 margin: 30px auto 0;
  width: 430px;
  height: 430px;

}
.imag h2 {
  color: #007180;
  font-size: 40px;
  margin-top: -2px;
  text-align: center;
}

}
@media screen and (min-width: 812px) {
  .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: none;
}
.container1 {
  position: absolute;
  left: 70px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: auto;
  height: 386px;
  margin-top: 45px;
}
.let {
  display: inline-block;
  margin-top: -60px;
}
.tit {
  display: inline-block;
  margin-top: 100px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 36px;
  font-weight: bold;
}
.tit h2:last-child{
  margin-top: -30px;
}
.let p{
  font-size: 15px;
  color: rgba(1, 48, 54, 0.90);
  margin-top: -12px;
  text-align: justify;
}
.let p:last-child{
  margin-top: -10px;
}
.butt {
 display: block;
 width: 165px;
 text-align: none;
 margin-top: 0;

}
.butt button {
width: 165px;
height: 54px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 16px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
.imag {
  display: inline-block;
  width: 300px;
  margin-right: 70px;
}
.imag img {
  margin-top: 132px;
  width: 300px;
  height: 320px;

}
.imag h2 {
  display: block;
  color: #007180;
  font-size: 26px;
  margin-top: -2px;
  text-align: justify;
  margin-left: 79px;
}
}
@media screen and (min-width: 1000px) {
  .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 422px;
  margin-top: 15px;
}
.let {
  display: inline-block;
  margin-top: -60px;
}
.tit {
  display: inline-block;
  margin-top: 100px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 40px;
  font-weight: bold;
}
.tit h2:last-child{
  margin-top: -30px;
}
.let p{
  font-size: 17px;
  color: rgba(1, 48, 54, 0.90);
  margin-top: -12px;
}
.let p:last-child{
  margin-top: -10px;
}

.butt button {
width: 165px;
height: 54px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 16px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
.imag {
  width: 350px;
  margin-right: 70px;
}
.imag img {
  margin-top: 97px;
  width: 350px;
  height: 350px;
  

}
.imag h2 {
  color: #007180;
  font-size: 26px;
  margin-top: -2px;
  margin-left: 98px;
}
}

@media screen and (min-width: 1140px){
  

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 450px;
  margin-top: 0px;
}
.let {
  display: inline-block;
  margin-top: -60px;
}
.tit {
  display: inline-block;
  margin-top: 100px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 45px;
  font-weight: bold;
}
.tit h2:last-child{
  margin-top: -30px;
}
.let p{
  font-size: 18px;
  color: rgba(1, 48, 54, 0.90);
  margin-top: -10px;
}
.let p:last-child{
  margin-top: -10px;
}
.butt button {
width: 170px;
height: 59px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 18px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
.imag {
  width: 400px;
  margin-right: 70px;
}
.imag img {
  margin-top: 67px;
  width: 400px;
  height: 400px;

}
.imag h2 {
  color: #007180;
  font-size: 32px;
  margin-top: -2px;
  margin-left: 106px;
}
}
@media (min-width: 1600px) and (min-height: 900px) {
  .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 50px;
}
.container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 550px;
  margin-top: 0px;
}
.let {
  display: inline-block;
  margin-top: -60px;
}
.tit {
  display: inline-block;
  margin-top: 100px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 65px;
  font-weight: bold;
}
.tit h2:last-child{
  margin-top: -55px;
}
.let p{
  font-size: 25px;
  color: rgba(1, 48, 54, 0.90);
  margin-top: -10px;
}
.let p:last-child{
  margin-top: -10px;
}
.butt button {
width: 400px;
height: 79px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 25px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
.imag {
  width: 550px;
  margin-right: 70px;
}
.imag img {
  margin-top: 67px;
  width: 550px;
  height: 550px;

}
.imag h2 {
  color: #007180;
  font-size: 42px;
  margin-top: -2px;
  margin-left: 156px;
}
}
@media (min-width: 1280px) and (min-height: 1024px){
    .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 140px;
}
.container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 520px;
  margin-top: 0px;
}
.let {
  display: inline-block;
  margin-top: -60px;
}
.tit {
  display: inline-block;
  margin-top: 100px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 55px;
  font-weight: bold;
}
.tit h2:last-child{
  margin-top: -55px;
}
.let p{
  font-size: 20px;
  color: rgba(1, 48, 54, 0.90);
  margin-top: -10px;
}
.let p:last-child{
  margin-top: -10px;
}
.butt button {
width: 400px;
height: 79px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 25px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
.imag {
  width: 500px;
  margin-right: 70px;
}
.imag img {
  margin-top: 67px;
  width: 470px;
  height: 500px;

}
.imag h2 {
  color: #007180;
  font-size: 38px;
  margin-top: -2px;
  margin-left: 126px;
}

}

@media (min-width: 1920px) and (min-height: 1080px){
    .flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 110px;
}
.container1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 605px;
  margin-top: 0px;
}
.let {
  display: inline-block;
  margin-top: -60px;
}
.tit {
  display: inline-block;
  margin-top: 100px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 70px;
  font-weight: bold;
}
.tit h2:last-child{
  margin-top: -60px;
}
.let p{
  font-size: 30px;
  color: rgba(1, 48, 54, 0.90);
}
.let p:last-child{
  margin-top: -20px;
}
.butt button {
width: 420px;
height: 89px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 30px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
.imag {
  width: 620px;
  margin-right: 70px;
}
.imag img {
  margin-top: 67px;
  width: 620px;
  height: 620px;

}
.imag h2 {
  color: #007180;
  font-size: 46px;
  margin-top: -2px;
  margin-left: 179px;
}

}