@media screen and (min-width: 488px){
  .tit {
  display: inline-block;
  margin-top: 40px;
  margin-left: 70px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 36px;
  font-weight: bold;
}
.flex {
  width: 440px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px auto 0 ;
  position: absolute;
  left: 0;
  right: 0;
}
.indiv {
  display: block;
  width: 100px;
  padding: 5px;
}
.indiv p {
  color: rgba(1, 48, 54, 0.90);
  text-align: center;
  font-size: 14px;
}
.icon {
  display: block;
  margin: 0 auto;
  color: #e20202;
  font-size: 45px;
  transition: all 0.3s ease-out;
}
.icon:hover {
  margin-top: -5px;
  display: block;
  margin: 0 auto;
  color: #007180;
  font-size: 50px;
}
.butt {
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 40px;
}
.butt button {
  text-align: center;
width: 200px;
height: 59px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 18px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
}
@media screen and (min-width: 658px){
  .tit {
  display: inline-block;
  margin-top: 40px;
  margin-left: 70px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 36px;
  font-weight: bold;
}
.flex {
  width: 520px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px auto 0 ;
  position: absolute;
  left: 0;
  right: 0;
}
.indiv {
  display: block;
  width: 120px;
  padding: 5px;
}
.indiv p {
  color: rgba(1, 48, 54, 0.90);
  text-align: center;
  font-size: 15px;
}
.icon {
  display: block;
  margin: 0 auto;
  color: #e20202;
  font-size: 50px;
  transition: all 0.3s ease-out;
}
.icon:hover {
  margin-top: -5px;
  display: block;
  margin: 0 auto;
  color: #007180;
  font-size: 55px;
}
.butt {
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 40px;
}
.butt button {
  text-align: center;
width: 200px;
height: 59px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 18px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
}
@media screen and (min-width: 758px){
 .tit {
  display: inline-block;
  margin-top: 40px;
  margin-left: 70px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 36px;
  font-weight: bold;
}
.flex {
  width: 550px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px auto 0 ;
  position: absolute;
  left: 0;
  right: 0;
}
.indiv {
  display: block;
  width: 120px;
  padding: 5px;
}
.indiv p {
  color: rgba(1, 48, 54, 0.90);
  text-align: center;
  font-size: 16px;
}
.icon {
  display: block;
  margin: 0 auto;
  color: #e20202;
  font-size: 60px;
  transition: all 0.3s ease-out;
}
.icon:hover {
  margin-top: -5px;
  display: block;
  margin: 0 auto;
  color: #007180;
  font-size: 65px;
}
.butt {
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 40px;
}
.butt button {
  text-align: center;
width: 200px;
height: 59px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 18px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}

}
@media screen and (min-width: 958px){
  .tit {
  display: inline-block;
  margin-top: 50px;
  margin-left: 70px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 40px;
  font-weight: bold;
}
.flex {
  width: 908px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto 0 ;
  position: absolute;
  left: 0;
  right: 0;
}
.indiv {
  display: block;
  width: 120px;
  padding: 0;
}
.indiv p {
  color: rgba(1, 48, 54, 0.90);
  text-align: center;
}
.icon {
  display: block;
  margin: 0 auto;
  color: #e20202;
  font-size: 65px;
  transition: all 0.3s ease-out;
}
.icon:hover {
  margin-top: -5px;
  display: block;
  margin: 0 auto;
  color: #007180;
  font-size: 70px;
}
.butt {
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 90px;
}
.butt button {
  text-align: center;
width: 200px;
height: 59px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 18px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
}
@media screen and (min-width: 1100px){
  .tit {
  display: inline-block;
  margin-top: 50px;
  margin-left: 70px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 40px;
  font-weight: bold;
}
.flex {
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto 0 ;
   position: absolute;
  left: 0;
  right: 0;
}
.indiv {
  display: block;
  width: 120px;
}
.indiv p {
  color: rgba(1, 48, 54, 0.90);
  text-align: center;
}
.icon {
  display: block;
  margin: 0 auto;
  color: #e20202;
  font-size: 75px;
  transition: all 0.3s ease-out;
}
.icon:hover {
  margin-top: -5px;
  display: block;
  margin: 0 auto;
  color: #007180;
  font-size: 80px;
}
.butt {
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 90px;
}
.butt button {
  text-align: center;
width: 200px;
height: 59px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 18px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}

}
@media screen and (min-width: 1200px){
.tit {
  display: inline-block;
  margin-top: 50px;
  margin-left: 70px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 40px;
  font-weight: bold;
}
.flex {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto 0 ;
  position: absolute;
  left: 0;
  right: 0;
}
.indiv {
  display: block;
  width: 120px;
}
.indiv p {
  color: rgba(1, 48, 54, 0.90);
  text-align: center;
}
.icon {
  display: block;
  margin: 0 auto;
  color: #e20202;
  font-size: 75px;
  transition: all 0.3s ease-out;
}
.icon:hover {
  margin-top: -5px;
  display: block;
  margin: 0 auto;
  color: #007180;
  font-size: 80px;
}
.butt {
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 90px;
}
.butt button {
  text-align: center;
width: 200px;
height: 59px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 18px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}

}