*{
  -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  }
  
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 113, 128, 0.8);
  border-radius: 20px;
  border: 1px solid rgba(2, 96, 109, 0.8);
}
@keyframes menu1 {
  0% {
    right: -100%;
  }
  50% {
    right: -50%;
  }
  100% {
    right: 0;
  }
  
}

/*Screen 290px */
@media screen and (min-width: 290px){
    .tit {
  display: inline-block;
  z-index: 1000;
  margin-top: 69px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 33px;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 40px;
}
.span1 {
  display: block;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 113, 128, 0.40);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}
.men {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 69px;
    right: 0;
    height: 260px;
    background-color: rgb(0, 113, 128, 0.80);
    border: 1px solid rgb(1, 96, 109);
    border-radius: 0 0 0 5px;
    animation: menu1 1s forwards;

  }
  .ult:first-child {
    display: block;
  }
  .ult {
    margin-top: 17px;
  }
  .ult a {
    text-decoration: none;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.90);
    font-weight: bold;
    opacity: 1;
    font-size: 20px;
  }
.flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
}
.indiv {
  display: block;
  width: 100px;
  padding: 5px;
  margin: 20px auto;
}
.indiv p {
  color: rgba(1, 48, 54, 0.90);
  text-align: center;
  font-size: 16px;
}
.icon {
  display: block;
  margin: 0 auto;
  color: #e20202;
  font-size: 75px;
  transition: all 0.3s ease-out;
}
.icon:hover {
  margin-top: -5px;
  display: block;
  margin: 0 auto;
  color: #007180;
  font-size: 80px;
}
.butt {
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -940px;
}
.butt button {
  text-align: center;
width: 200px;
height: 59px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 18px;
cursor: pointer;
transition: all 0.2s ease-out;
margin-bottom: 50px;

}
.butt button:hover {
  opacity: 0.79;
}

}
@media screen and (min-height: 630px) {
  .butt {
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -990px;
}

}
@media screen and (min-height:667px) {
  .butt {
  display: block;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -940px;
}

}
@media screen and (min-height: 690px) {
  .butt {
  display: block;
  text-align: center;
   position: absolute;
  left: 0;
  right: 0;
  bottom: -910px;
}
}
@media screen and (min-height: 740px) {
  .butt {
  display: block;
  text-align: center;
   position: absolute;
  left: 0;
  right: 0;
  bottom: -870px;
}
}
@media screen and (min-height: 792px) {
  .butt {
  display: block;
  text-align: center;
   position: absolute;
  left: 0;
  right: 0;
  bottom: -815px;
}
}
@media screen and (min-height: 844px) {
  .butt {
  display: block;
  text-align: center;
   position: absolute;
  left: 0;
  right: 0;
  bottom: -759px;
}
}
@media screen and (min-height: 896px) {
  .butt {
  display: block;
  text-align: center;
   position: absolute;
  left: 0;
  right: 0;
  bottom: -710px;
}
  
}
@media screen and (min-height: 932px) {
  .butt {
  display: block;
  text-align: center;
   position: absolute;
  left: 0;
  right: 0;
  bottom: -680px;
}
  
}

/*Screen 390px */
@media screen and (min-width: 390px), (min-height: 667px){
  .tit {
  display: inline-block;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 33px;
  font-weight: bold;
  margin-top: 40px;
  margin-left: 40px;
}
.flex {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}
.indiv {
  display: block;
  width: 100px;
  padding: 5px;
  margin: 20px auto;
}
.indiv p {
  color: rgba(1, 48, 54, 0.90);
  text-align: center;
  font-size: 16px;
}
.icon {
  display: block;
  margin: 0 auto;
  color: #e20202;
  font-size: 75px;
  transition: all 0.3s ease-out;
}
.icon:hover {
  margin-top: -5px;
  display: block;
  margin: 0 auto;
  color: #007180;
  font-size: 80px;
}
.butt {
  display: block;
  text-align: center;
   position: absolute;
  left: 0;
  right: 0;
  bottom: -940px;
}
.butt button {
  text-align: center;
width: 200px;
height: 59px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 18px;
cursor: pointer;
transition: all 0.2s ease-out;
margin-bottom: 50px;
}
.butt button:hover {
  opacity: 0.79;
}
}
@media screen and (min-height: 740px) {
  .butt {
  display: block;
  text-align: center;
   position: absolute;
  left: 0;
  right: 0;
  bottom: -870px;
}
}
@media screen and (min-height: 844px) {
  .butt {
  display: block;
  text-align: center;
   position: absolute;
  left: 0;
  right: 0;
  bottom: -759px;
}
}
@media screen and (min-height: 896px) {
  .butt {
  display: block;
  text-align: center;
   position: absolute;
  left: 0;
  right: 0;
  bottom: -710px;
}
  
}
@media screen and (min-height: 932px) {
  .butt {
  display: block;
  text-align: center;
   position: absolute;
  left: 0;
  right: 0;
  bottom: -680px;
}
  
}

/*Screen 488px */
@media screen and (min-width: 488px){
  .tit {
  display: inline-block;
  margin-top: 109px;
  margin-left: 70px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 36px;
  font-weight: bold;
}
.flex {
  width: 440px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px auto 0 ;
  position: absolute;
  left: 0;
  right: 0;
}
.indiv {
  display: block;
  width: 100px;
  padding: 5px;
  margin-top: 0;
}
.indiv p {
  color: rgba(1, 48, 54, 0.90);
  text-align: center;
  font-size: 14px;
}
.icon {
  display: block;
  margin: 0 auto;
  color: #e20202;
  font-size: 45px;
  transition: all 0.3s ease-out;
}
.icon:hover {
  margin-top: -5px;
  display: block;
  margin: 0 auto;
  color: #007180;
  font-size: 50px;
}
.butt {
  display: block;
  text-align: center;
  margin: auto;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 40px;
}
.butt button {
  text-align: center;
width: 200px;
height: 59px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 18px;
cursor: pointer;
transition: all 0.2s ease-out;
margin-bottom: 0;
}
.butt button:hover {
  opacity: 0.79;
}
}

/*Screen 658px */
@media screen and (min-width: 658px){
  .tit {
  display: inline-block;
  margin-top: 109px;
  margin-left: 70px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 36px;
  font-weight: bold;
}
.flex {
  width: 520px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px auto 0 ;
  position: absolute;
  left: 0;
  right: 0;
}
.indiv {
  display: block;
  width: 120px;
  padding: 5px;
}
.indiv p {
  color: rgba(1, 48, 54, 0.90);
  text-align: center;
  font-size: 15px;
}
.icon {
  display: block;
  margin: 0 auto;
  color: #e20202;
  font-size: 50px;
  transition: all 0.3s ease-out;
}
.icon:hover {
  margin-top: -5px;
  display: block;
  margin: 0 auto;
  color: #007180;
  font-size: 55px;
}
.butt {
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 30px;
}
.butt button {
  text-align: center;
width: 200px;
height: 59px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 18px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
}

/*Screen 758px */
@media screen and (min-width: 712px){
 .tit {
  display: inline-block;
  margin-top: 20px;
  margin-left: 70px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 36px;
  font-weight: bold;
}
.flex {
  width: 550px;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px auto 0 ;
  position: absolute;
  left: 0;
  right: 0;
}
.indiv {
  display: block;
  width: 120px;
  padding: 5px;
}
.indiv p {
  color: rgba(1, 48, 54, 0.90);
  text-align: center;
  font-size: 16px;
}
.icon {
  display: block;
  margin: 0 auto;
  color: #e20202;
  font-size: 60px;
  transition: all 0.3s ease-out;
}
.icon:hover {
  margin-top: -5px;
  display: block;
  margin: 0 auto;
  color: #007180;
  font-size: 65px;
}
.butt {
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 30px;
}
.butt button {
  text-align: center;
width: 200px;
height: 59px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 18px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
}

/*Screen 958px */
@media screen and (min-width: 958px){
  .tit {
  display: inline-block;
  margin-top: 20px;
  margin-left: 70px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 40px;
  font-weight: bold;
}
.flex {
  width: 908px;
  height: 300px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 50px auto 0 ;
  position: absolute;
  left: 0;
  right: 0;
}
.indiv {
  display: block;
  width: 120px;
  padding: 0;
}
.indiv p {
  color: rgba(1, 48, 54, 0.90);
  text-align: center;
}
.icon {
  display: block;
  margin: 0 auto;
  color: #e20202;
  font-size: 65px;
  transition: all 0.3s ease-out;
}
.icon:hover {
  margin-top: -5px;
  display: block;
  margin: 0 auto;
  color: #007180;
  font-size: 70px;
}
.butt {
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 80px;
}
.butt button {
  text-align: center;
width: 200px;
height: 59px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 18px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
}

/*Screen 1100px */
@media screen and (min-width: 1100px){
  .tit {
  display: inline-block;
  margin-top: 20px;
  margin-left: 70px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 40px;
  font-weight: bold;
}
.flex {
  width: 1000px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto 0 ;
   position: absolute;
  left: 0;
  right: 0;
}
.indiv {
  display: block;
  width: 120px;
}
.indiv p {
  color: rgba(1, 48, 54, 0.90);
  text-align: center;
}
.icon {
  display: block;
  margin: 0 auto;
  color: #e20202;
  font-size: 75px;
  transition: all 0.3s ease-out;
}
.icon:hover {
  margin-top: -5px;
  display: block;
  margin: 0 auto;
  color: #007180;
  font-size: 80px;
}
.butt {
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 80px;
}
.butt button {
  text-align: center;
width: 200px;
height: 59px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 18px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
}

/*Screen 1200px */
@media screen and (min-width: 1200px){
.tit {
  display: inline-block;
  margin-top: 20px;
  margin-left: 70px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 40px;
  font-weight: bold;
}
.flex {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 60px auto 0 ;
  position: absolute;
  left: 0;
  right: 0;
}
.indiv {
  display: block;
  width: 120px;
}
.indiv p {
  color: rgba(1, 48, 54, 0.90);
  text-align: center;
}
.icon {
  display: block;
  margin: 0 auto;
  color: #e20202;
  font-size: 75px;
  transition: all 0.3s ease-out;
}
.icon:hover {
  margin-top: -5px;
  display: block;
  margin: 0 auto;
  color: #007180;
  font-size: 80px;
}
.butt {
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 80px;
}
.butt button {
  text-align: center;
width: 200px;
height: 59px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 18px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}

}
@media (min-width: 1600px) and (min-height: 900px) {
  .tit {
  display: inline-block;
  margin-top: 50px;
  margin-left: 70px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 50px;
  font-weight: bold;
}
.flex {
  width: 1500px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 120px auto 0 ;
  position: absolute;
  left: 0;
  right: 0;
}
.indiv {
  display: block;
  width: 180px;
}
.indiv p {
  color: rgba(1, 48, 54, 0.90);
  text-align: center;
  font-size: 23px;
}
.icon {
  display: block;
  margin: 0 auto;
  color: #e20202;
  font-size: 115px;
  transition: all 0.3s ease-out;
}
.icon:hover {
  margin-top: -5px;
  display: block;
  margin: 0 auto;
  color: #007180;
  font-size: 125px;
}
.butt {
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 100px;
}
.butt button {
  text-align: center;
width: 400px;
height: 79px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 25px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}
}
@media (min-width: 1280px) and (min-height: 1024px) {
    .tit {
  display: inline-block;
  margin-top: 50px;
  margin-left: 70px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 50px;
  font-weight: bold;
}
.flex {
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 170px auto 0 ;
  position: absolute;
  left: 0;
  right: 0;
}
.indiv {
  display: block;
  width: 120px;
}
.indiv p {
  color: rgba(1, 48, 54, 0.90);
  text-align: center;
  font-size: 17px;
}
.icon {
  display: block;
  margin: 0 auto;
  color: #e20202;
  font-size: 85px;
  transition: all 0.3s ease-out;
}
.icon:hover {
  margin-top: -5px;
  display: block;
  margin: 0 auto;
  color: #007180;
  font-size: 125px;
}
.butt {
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 200px;
}
.butt button {
  text-align: center;
width: 400px;
height: 79px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 25px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}

}
@media (min-width: 1920px) and (min-height: 1080px){
  .tit {
  display: inline-block;
  margin-top: 50px;
  margin-left: 70px;
}
.tit h2 {
  color: #007180;
  text-align: justify;
  font-size: 60px;
  font-weight: bold;
}
.flex {
  width: 1600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 150px auto 0 ;
  position: absolute;
  left: 0;
  right: 0;
}
.indiv {
  display: block;
  width: 180px;
}
.indiv p {
  color: rgba(1, 48, 54, 0.90);
  text-align: center;
  font-size: 27px;
}
.icon {
  display: block;
  margin: 0 auto;
  color: #e20202;
  font-size: 125px;
  transition: all 0.3s ease-out;
}
.icon:hover {
  margin-top: -5px;
  display: block;
  margin: 0 auto;
  color: #007180;
  font-size: 135px;
}
.butt {
  display: block;
  text-align: center;
  left: 0;
  right: 0;
  position: absolute;
  bottom: 100px;
}
.butt button {
  text-align: center;
width: 450px;
height: 89px;
border-radius: 8px;
border: none;
background-color: #04acc2;
color: #fff;
font-size: 30px;
cursor: pointer;
transition: all 0.2s ease-out;
}
.butt button:hover {
  opacity: 0.79;
}

}